<!DOCTYPE html>
<html>
  <head>
	<title>Client page</title>

  </head>

	<body>

<h2>Страница клиента</h2>
<lu>
<li>Name: <%= @client.name %></li>
<li>Phone: <%= @client.phone %></li>
<li>Date & time: <%= @client.datestamp %></li>
<li>Your barber: <%= @client.barber %></li>
<li>Color: <%= @client.color %></li>

</lu>
  </body>
</html>
